# Google Cloud Project ID (Optional for local)
GOOGLE_CLOUD_PROJECT=4420256990

# Database path (relative or absolute)
DATABASE_PATH=medsportation.db

# Server port
PORT=8080
RESEND_API_KEY=
NOTIFICATION_EMAIL=info@medsportationlogistics.com
